@model ServiceCenter.Models.CallRegistrationListDataModel
@using ServiceCenter.Models
@{
    Layout = null;

    CallSummaryModel objCallSummaryModel;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Workshop In Out Call Report</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="~/Content/assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="~/Content/assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="~/Content/assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="~/Content/assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="~/Content/assets/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="~/Content/assets/css/demo.css">

    <script src="~/Content/assets/vendor/js/material-ripple.js"></script>
    <script src="~/Content/assets/vendor/js/layout-helpers.js"></script>

    <!-- Theme settings -->
    <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
    <script src="~/Content/assets/vendor/js/theme-settings.js"></script>

    <!-- Core scripts -->
    <script src="~/Content/assets/vendor/js/pace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="~/Content/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">

    <style>
        .card-table > thead:first-child > tr:first-child > td, .card-table > thead:first-child > tr:first-child > th, .card-table > tbody:first-child > tr:first-child > td, .card-table > tbody:first-child > tr:first-child > th, .card-table > tfoot:first-child > tr:first-child > td, .card-table > tfoot:first-child > tr:first-child > th {
            border-top: 0;
        }

        .table .thead-light th {
            color: #4E5155;
            background-color: rgba(24,28,33,0.03);
            border-color: #f1f1f2;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #f1f1f2;
        }

        .card-table, .card-table th, .card-table td {
            border-color: rgba(24,28,33,0.06);
        }

        .table th {
            font-weight: 500;
        }

        .table th, .table td {
            padding: 0.625rem;
            vertical-align: top;
            border-top: 1px solid #f1f1f2;
        }

        th {
            display: table-cell;
            vertical-align: inherit;
            font-weight: bold;
            text-align: -internal-center;
        }

        table {
            border-collapse: separate;
            text-indent: initial;
            border-spacing: 2px;
        }

        .bg-info {
            background-color: #28c3d7 !important;
        }

        .bg-primary {
            background-color: #26B4FF !important;
        }

        .bg-danger {
            background-color: #d9534f !important;
            color: #fff;
        }
    </style>

</head>
<body>

    <div class="card">
        <div class="card-header">Daily Workshop In Out Calls | From : @Model.FromDate - To : @Model.ToDate</div>
        <table class="table card-table table-responsive">
            <tbody>
                @{
                    if (Model.CallRegistrationList.Count > 0)
                    {

                        <tr class="bg-danger">
                            <th scope="row" colspan="9" style="text-align:center"> Workshop In</th>
                        </tr>

                        List<CallRegistration> WorkshopInList = Model.CallRegistrationList.Where(x => x.WorkShopIN == true).ToList();

                        if (WorkshopInList.Count > 0)
                        {

                            objCallSummaryModel = new CallSummaryModel();

                            objCallSummaryModel.TotalCall = WorkshopInList.Count;

                            objCallSummaryModel.InWarranty = WorkshopInList.Where(x => x.ServType == 0).ToList().Count();
                            objCallSummaryModel.OutWarranty = WorkshopInList.Where(x => x.ServType == 1).ToList().Count();
                            objCallSummaryModel.Installation = WorkshopInList.Where(x => x.ServType == 2).ToList().Count();

                            objCallSummaryModel.Local = WorkshopInList.Where(x => x.CallType == 0).ToList().Count();
                            objCallSummaryModel.Workshop = WorkshopInList.Where(x => x.CallType == 1).ToList().Count();
                            objCallSummaryModel.OutStation = WorkshopInList.Where(x => x.CallType == 2).ToList().Count();


                            objCallSummaryModel.Attended = WorkshopInList.Where(x => x.CallAttn == true).ToList().Count();
                            objCallSummaryModel.GoAfterCall = WorkshopInList.Where(x => x.GoAfterCall == true).ToList().Count();
                            objCallSummaryModel.CallBack = WorkshopInList.Where(x => x.CallBack == true).ToList().Count();
                            objCallSummaryModel.WorkshopIn = WorkshopInList.Where(x => x.WorkShopIN == true).ToList().Count();
                            objCallSummaryModel.Delever = WorkshopInList.Where(x => x.Deliver == true).ToList().Count();
                            objCallSummaryModel.PartPending = WorkshopInList.Where(x => x.PartPanding == true).ToList().Count();
                            objCallSummaryModel.RepeatFromTech = WorkshopInList.Where(x => x.RepeatFromTech == true).ToList().Count();

                            objCallSummaryModel.JobDone = WorkshopInList.Where(x => x.JobDone == true).ToList().Count();
                            objCallSummaryModel.AttendedButNotDone = WorkshopInList.Where(x => x.CallAttn == true || x.Canceled == true || x.GoAfterCall == true && x.JobDone == false).ToList().Count();
                            objCallSummaryModel.PendingJob = WorkshopInList.Where(x => x.CallAttn == false && x.Canceled == false && x.GoAfterCall == false && x.CallBack == false && x.WorkShopIN == false && x.Deliver == false && x.PartPanding == false && x.JobDone == false).ToList().Count();

                            objCallSummaryModel.Payment = WorkshopInList.Sum(x => x.Payment);
                            objCallSummaryModel.Estimate = WorkshopInList.Sum(x => x.Estimate);
                            objCallSummaryModel.VisitCharge = WorkshopInList.Sum(x => x.VisitCharge);


                            <tr>
                                <td colspan="3" style="text-align:center"> Job Done : @objCallSummaryModel.JobDone</td>
                                <td colspan="3" style="text-align:center"> Call Attended But Not Done : @objCallSummaryModel.AttendedButNotDone</td>
                                <td colspan="3" style="text-align:center"> Pending Job : @objCallSummaryModel.PendingJob</td>
                            </tr>
                            <tr>
                                <td>In-Warranty : @objCallSummaryModel.InWarranty</td>
                                <td width="100">
                                </td>
                                <td>
                                    Local : @objCallSummaryModel.Local
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Workshop - In : @objCallSummaryModel.WorkshopIn
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Part Pending : @objCallSummaryModel.PartPending
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Estimate : @objCallSummaryModel.Estimate
                                </td>
                            </tr>
                            <tr>
                                <td>Out-Warranty : @objCallSummaryModel.OutWarranty</td>
                                <td width="100">
                                </td>
                                <td>
                                    Workshop : @objCallSummaryModel.Workshop
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    @*Workshop - Out : @objCallSummaryModel.Delever*@
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Repeat From Technician : @objCallSummaryModel.RepeatFromTech
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Visit Charge : @objCallSummaryModel.VisitCharge
                                </td>
                            </tr>
                            <tr>
                                <td>Installation : @objCallSummaryModel.Installation</td>
                                <td width="100">
                                </td>
                                <td>
                                    Out - Station : @objCallSummaryModel.OutStation
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Call Back : @objCallSummaryModel.CallBack
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Go After Call : @objCallSummaryModel.GoAfterCall
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Payment : @objCallSummaryModel.Payment
                                </td>
                            </tr>

                        }

                        <tr class="bg-danger">
                            <th scope="row" colspan="9" style="text-align:center"> Workshop In</th>
                        </tr>

                        List<CallRegistration> WorkshopOutList = Model.CallRegistrationList.Where(x => x.Deliver == true).ToList();

                        if (WorkshopOutList.Count > 0)
                        {

                            objCallSummaryModel = new CallSummaryModel();

                            objCallSummaryModel.TotalCall = WorkshopOutList.Count;

                            objCallSummaryModel.InWarranty = WorkshopOutList.Where(x => x.ServType == 0).ToList().Count();
                            objCallSummaryModel.OutWarranty = WorkshopOutList.Where(x => x.ServType == 1).ToList().Count();
                            objCallSummaryModel.Installation = WorkshopOutList.Where(x => x.ServType == 2).ToList().Count();

                            objCallSummaryModel.Local = WorkshopOutList.Where(x => x.CallType == 0).ToList().Count();
                            objCallSummaryModel.Workshop = WorkshopOutList.Where(x => x.CallType == 1).ToList().Count();
                            objCallSummaryModel.OutStation = WorkshopOutList.Where(x => x.CallType == 2).ToList().Count();


                            objCallSummaryModel.Attended = WorkshopOutList.Where(x => x.CallAttn == true).ToList().Count();
                            objCallSummaryModel.GoAfterCall = WorkshopOutList.Where(x => x.GoAfterCall == true).ToList().Count();
                            objCallSummaryModel.CallBack = WorkshopOutList.Where(x => x.CallBack == true).ToList().Count();
                            objCallSummaryModel.WorkshopIn = WorkshopOutList.Where(x => x.WorkShopIN == true).ToList().Count();
                            objCallSummaryModel.Delever = WorkshopOutList.Where(x => x.Deliver == true).ToList().Count();
                            objCallSummaryModel.PartPending = WorkshopOutList.Where(x => x.PartPanding == true).ToList().Count();
                            objCallSummaryModel.RepeatFromTech = WorkshopOutList.Where(x => x.RepeatFromTech == true).ToList().Count();

                            objCallSummaryModel.JobDone = WorkshopOutList.Where(x => x.JobDone == true).ToList().Count();
                            objCallSummaryModel.AttendedButNotDone = WorkshopOutList.Where(x => x.CallAttn == true || x.Canceled == true || x.GoAfterCall == true && x.JobDone == false).ToList().Count();
                            objCallSummaryModel.PendingJob = WorkshopOutList.Where(x => x.CallAttn == false && x.Canceled == false && x.GoAfterCall == false && x.CallBack == false && x.WorkShopIN == false && x.Deliver == false && x.PartPanding == false && x.JobDone == false).ToList().Count();

                            objCallSummaryModel.Payment = WorkshopOutList.Sum(x => x.Payment);
                            objCallSummaryModel.Estimate = WorkshopOutList.Sum(x => x.Estimate);
                            objCallSummaryModel.VisitCharge = WorkshopOutList.Sum(x => x.VisitCharge);


                            <tr>
                                <td colspan="3" style="text-align:center"> Job Done : @objCallSummaryModel.JobDone</td>
                                <td colspan="3" style="text-align:center"> Call Attended But Not Done : @objCallSummaryModel.AttendedButNotDone</td>
                                <td colspan="3" style="text-align:center"> Pending Job : @objCallSummaryModel.PendingJob</td>
                            </tr>
                            <tr>
                                <td>In-Warranty : @objCallSummaryModel.InWarranty</td>
                                <td width="100">
                                </td>
                                <td>
                                    Local : @objCallSummaryModel.Local
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    @*Workshop - In : @objCallSummaryModel.WorkshopIn*@
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Part Pending : @objCallSummaryModel.PartPending
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Estimate : @objCallSummaryModel.Estimate
                                </td>
                            </tr>
                            <tr>
                                <td>Out-Warranty : @objCallSummaryModel.OutWarranty</td>
                                <td width="100">
                                </td>
                                <td>
                                    Workshop : @objCallSummaryModel.Workshop
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Workshop - Out : @objCallSummaryModel.Delever
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Repeat From Technician : @objCallSummaryModel.RepeatFromTech
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Visit Charge : @objCallSummaryModel.VisitCharge
                                </td>
                            </tr>
                            <tr>
                                <td>Installation : @objCallSummaryModel.Installation</td>
                                <td width="100">
                                </td>
                                <td>
                                    Out - Station : @objCallSummaryModel.OutStation
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Call Back : @objCallSummaryModel.CallBack
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Go After Call : @objCallSummaryModel.GoAfterCall
                                </td>
                                <td width="100">
                                </td>
                                <td>
                                    Payment : @objCallSummaryModel.Payment
                                </td>
                            </tr>

                        }
                    }

                }

            </tbody>
        </table>
    </div>

    <script src="~/Content/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/Content/assets/vendor/js/bootstrap.js"></script>
    <script src="~/Content/assets/vendor/js/sidenav.js"></script>

    <!-- Libs -->
    <script src="~/Content/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <!-- Demo -->
    <script src="~/Content/assets/js/demo.js"></script>
</body>
</html>
