@model ServiceCenter.Models.CallRegistrationListDataModel

@{
    ViewBag.Title = "Pending Call Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string TechnicianName = string.Empty, FromDate = string.Empty, ToDate = string.Empty;
    int TotalCallCount = 0;

    if (Model.CallRegistrationList.Count > 0)
    {
        TechnicianName = Model.CallRegistrationList.FirstOrDefault().Technician;
        FromDate = Model.FromDate;
        ToDate = Model.ToDate;
        TotalCallCount = Model.CallRegistrationList.Count;

    }

}

<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">

        <div class="card">
            <div class="card-header bg-info">@TechnicianName Calls List | From : @FromDate - To : @ToDate || Total Calls : @TotalCallCount</div>
            <table class="table card-table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Job No</th>
                        <th>Call Date</th>
                        <th>Call Assing Date</th>
                        <th>Customer Name</th>
                        <th>Mobile</th>
                        <th>Call Type</th>
                        <th>Service Type</th>
                        <th>Product Name</th>
                        <th>Fault Desc.</th>
                        <th>Call Attn</th>
                        <th>Job Done</th>
                        <th>Call Back</th>
                        <th>Go After Call</th>
                        <th>Cancled</th>
                        <th>Estimate</th>
                        <th>Visit Charge</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.CallRegistrationList.Count > 0)
                        {
                            int TotalCall = Model.CallRegistrationList.Count;
                            int InWarrantyCalls = Model.CallRegistrationList.Where(x => x.ServType == 0).ToList().Count();
                            int OutWarrantyCalls = Model.CallRegistrationList.Where(x => x.ServType == 1).ToList().Count();
                            int InstallationCalls = Model.CallRegistrationList.Where(x => x.ServType == 2).ToList().Count();
                            int JobDoneCalls = Model.CallRegistrationList.Where(x => x.JobDone == true).ToList().Count();
                            int CallAttnCalls = Model.CallRegistrationList.Where(x => x.CallAttn == true).ToList().Count();
                            int CallBackCalls = Model.CallRegistrationList.Where(x => x.CallBack == true).ToList().Count();
                            int GoAfterCallCalls = Model.CallRegistrationList.Where(x => x.GoAfterCall == true).ToList().Count();
                            int CallAttnAndJobNotDoneCalls = Model.CallRegistrationList.Where(x => x.CallAttn == true && x.JobDone == false).ToList().Count();
                            int WorkShopINCalls = Model.CallRegistrationList.Where(x => x.WorkShopIN == true).ToList().Count();
                            int LocalCalls = Model.CallRegistrationList.Where(x => x.CallType == 0).ToList().Count();
                            int WorkshopCalls = Model.CallRegistrationList.Where(x => x.CallType == 1).ToList().Count();
                            int OutStationCalls = Model.CallRegistrationList.Where(x => x.CallType == 2).ToList().Count();

                            foreach (var callItem in Model.CallRegistrationList)
                            {
                                string strTechnician = callItem.Technician;
                                <tr>
                                    <td>@callItem.JobNo</td>
                                    <td>@callItem.StringCreationDate</td>
                                    <td>@callItem.StringCallAssignDate</td>
                                    <td>@callItem.CustomerName</td>
                                    <td>@callItem.MobileNo</td>
                                    <td>@callItem.CallTypeName</td>
                                    <td>@callItem.ServTypeName</td>
                                    <td>@callItem.ItemName</td>
                                    <td>@callItem.FaultDesc</td>
                                    <td>@Html.Raw(callItem.CallAttn ? "<i class=\"\" style=\"color: green;\">✅</i>" : "<i class=\"\" style=\"color: red;\">❌</i>") </td>
                                    <td>@Html.Raw(callItem.JobDone ? "<i class=\"\" style=\"color: green;\">✅</i>" : "<i class=\"\" style=\"color: red;\">❌</i>") </td>
                                    <td>@Html.Raw(callItem.CallBack ? "<i class=\"\" style=\"color: green;\">✅</i>" : "<i class=\"\" style=\"color: red;\">❌</i>") </td>
                                    <td>@Html.Raw(callItem.GoAfterCall ? "<i class=\"\" style=\"color: green;\">✅</i>" : "<i class=\"\" style=\"color: red;\">❌</i>") </td>
                                    <td>@Html.Raw(callItem.Canceled ? "<i class=\"\" style=\"color: green;\">✅</i>" : "<i class=\"\" style=\"color: red;\">❌</i>") </td>
                                    <td>@callItem.Estimate</td>
                                    <td>@callItem.VisitCharge</td>
                                </tr>

                            }
                        }

                    }

                </tbody>
            </table>
        </div>

    </div>
    <!-- / Content -->
    <!-- Layout footer -->
    @Html.Partial("FooterBar")
    <!-- / Layout footer -->

    @section scripts {
        <script src="~/Scripts/ProjectJs/MasterForms.js"></script>

        <script>

            $(document).ready(function () {

            });

        </script>
    }

</div>


